Repository TECH-Rubicone/redux-saga-controller, pull requests merged in 2021-09, with the labels that each got.

#27 feature/EXTRA_REDUCER
  src/constant.ts
  src/index.ts
  src/prepare.ts
  src/reducer.ts
  src/saga.ts
  src/use-reducer.ts
  src/use-subscribe.ts
Labels: feature

#28 ci/TESTS-Run-Test-fore-each-pull-request
  .github/workflows/pull-request.yml
Labels: ci

#29 enhancement/CODE-FLOW-Update-code-flow
  src/actions.ts
  test/prepare.test.ts
  test/reducer.test.ts
  test/saga.test.ts
  test/test.mock.tsx
  test/use-actions.test.ts
  todo.md
Labels: test

#30 feature/INHERIT ON CREATE
  src/reducer.ts
  test/reducer.test.ts
Labels: bug, feature, test

#31 Documentation/JS-ORG Implement documentation
  .github/workflows/documentation.yml
  README.md
  docs/_config.yml
  docs/create-annotation.md
  docs/hooks/_category_.json
  docs/hooks/useController.md
  docs/hooks/useControllerActions.md
  docs/hooks/useControllerData.md
  docs/hooks/useControllerSubscribe.md
  docs/readme.md
  website/.gitignore
  website/README.md
  website/babel.config.js
  website/docusaurus.config.js
  website/package.json
  website/sidebars.js
  website/src/components/homepage.js
  website/src/components/homepage.module.css
  website/src/css/custom.css
  website/src/pages/index.js
  website/src/pages/index.module.css
  website/static/.nojekyll
  website/static/CNAME
  website/static/img/docusaurus.png
  website/static/img/fast-time.svg
  website/static/img/favicon.ico
  website/static/img/logo.png
  website/static/img/snap.svg
  website/static/img/target.svg
  website/yarn.lock
Labels: documentation, ci
